In [1]:
its_int=23
its_float = 3.4
its_string="Show"

In [2]:
print("It's Interger",its_int);
print("It's Float",its_float);
print("It's String",its_string);

It's Interger 23
It's Float 3.4
It's String Show

In [5]:
interger_to_float = float(its_int);
float_to_integer = int(its_float);
string_to_integer = int("232");

In [7]:
print("Converted Integer to Float:", interger_to_float)
print("Converted Float to Integer:", float_to_integer)
print("Converted String to Integer:", string_to_integer)

Converted Integer to Float: 23.0
Converted Float to Integer: 3
Converted String to Integer: 232